.movies {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: auto;
    padding: 0 70px 0 70px;
    box-sizing: border-box;
}

@media (max-width: 1280px) {
    .movies {
        padding-left: calc(10px + (70 - 10) * ((100vw - 320px) / (1280 - 320)));
        padding-right: calc(10px + (70 - 10) * ((100vw - 320px) / (1280 - 320)));
    }
}

.movies__list {
    width: 100%;
    list-style: none;
    display: grid;
    margin: 70px 0 30px 0;
    padding: 0;
    justify-items: center;
    row-gap: 30px;
    column-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 768px) {
    .movies {
        grid-row-gap: 36px;
        grid-column-gap: 30px;
    }
}

@media (max-width: 695px) {
    .movies__list {
        margin-top: 40px;
    }
}

.more {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 50px auto 80px;
    padding: 0 70px 0 70px;
    box-sizing: border-box;
    justify-content: center;
}

@media (max-width: 1280px) {
    .more {
        padding-left: calc(10px + (70 - 10) * ((100vw - 320px) / (1280 - 320)));
        padding-right: calc(10px + (70 - 10) * ((100vw - 320px) / (1280 - 320)));
    }
}

.more__button {
    margin: 0;
    padding: 0;
    width: 320px;
    height: 36px;
    border: 1px solid #424242;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: white;
    transition: opacity 0.3s ease-in-out;
}

.more__button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.more__button:focus {
    outline: none;
    box-shadow: 0px 0px 8px black;
}

.more_off {
    visibility: hidden;
}

@media (max-width: 380px) {
    .more__button {
        width: 240px;
    }
}

.movies_error {
    margin: 50px auto 0;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.20;
    color: #303030;
}