.description {
    background-color: #073042;
}

.description__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: "info-title image" "info-subtitle image" "info-button image";
}

@media (max-width: 1024px) {
    .description__body {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, min-content);
        grid-template-areas: "image image" "info-title info-title" "info-subtitle info-subtitle" "info-button info-button";
    }
}

.description__title {
    grid-area: info-title;
    margin: 93px 0 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.16;
    word-wrap: break-word;
}

@media (max-width: 1024px) {
    .description__title {
        margin-top: 48px;
        font-size: 40px;
        line-height: 1.25;
        text-align: center;
        justify-self: center;
    }
}

@media (max-width: 640px) {
    .description__title {
        margin-top: 44px;
        max-width: 300px;
        font-size: 30px;
        line-height: 1.27;
        letter-spacing: -0.04em;
    }
}

.description__subtitle {
    grid-area: info-subtitle;
    margin: 36px 0 0;
    max-width: 310px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.23;
    opacity: 0.5;
    word-wrap: break-word;
}

@media (max-width: 1024px) {
    .description__subtitle {
        margin-top: 22px;
        max-width: 260px;
        text-align: center;
        justify-self: center;
    }
}

@media (max-width: 640px) {
    .description__subtitle {
        margin-top: 24px;
    }
}

.description__image {
    grid-area: image;
    justify-self: right;
    margin: 96px 0 0;
    background-image: url('../../images/Web-logo.svg');
    width: 310px;
    height: 304px;
    transition: transform 5s ease-in-out;
}

@media (max-width: 1024px) {
    .description__image {
        justify-self: center;
        margin-top: 140px;
    }
}

@media (max-width: 640px) {
    .description__image {
        margin-top: 70px;
        width: 210px;
        height: 206px;
        background-size: contain;
    }
}

.description__button {
    grid-area: info-button;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 146px 0 75px;
    width: 129px;
    height: 36px;
    background: transparent;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.6);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    color: #FFFFFF;
    transition: opacity 0.3s ease-in-out;
}

.description__button:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .description__button {
        justify-self: center;
        margin-top: 92px;
    }
}

@media (max-width: 640px) {
    .description__button {
        margin-top: 30px;
    }
}

.description__button:focus {
    outline: none;
    box-shadow: 0px 0px 8px black;
}