.search {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: auto;
    padding: 0 70px 0 70px;
    box-sizing: border-box;
}

@media (max-width: 1280px) {
    .search {
        padding-left: calc(10px + (70 - 10) * ((100vw - 320px) / (1280 - 320)));
        padding-right: calc(10px + (70 - 10) * ((100vw - 320px) / (1280 - 320)));
    }
}

.search:after {
    margin-bottom: 10px;
    content: "";
    padding-right: 100%;
    display: inline-block;
    height: 1px;
    background-color: #424242;
}

.search-form {
    display: flex;
    flex-direction: column;
    margin: 80px 0 0 0;
}

.search-form__name-film {
    margin: 0 0 29px;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .search-form__name-film {
        margin-bottom: 41px;
    }
}

@media (max-width: 320px) {
    .search-form__name-film {
        margin-bottom: 47px;
    }
}

.search-form__short-film {
    margin: 0 0 40px;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form__button {
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0 0 0 10px;
    background-color: #4285F4;
    background-image: url("../../images/search.svg");
    border-radius: 5px;
    outline: none;
    border: none;
    transition: all 0.3s ease-in-out;
}

.search-form__button:hover {
    opacity: 0.8;
    box-shadow: 0 0 7px black;
    cursor: pointer;
}

.search-form__button:focus {
    outline: none;
    box-shadow: 0px 0px 8px black;
}

.search-form__input {
    background-color: #2f2f2f;
    width: calc(100% - 54px);
    height: 50px;
    margin: 0;
    padding: 0 0 0 20px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: white;
}

@media (max-width: 320px) {
    .search-form__input {
        height: 44px;
    }
}

.search-form__input:focus {
    outline: none;
    box-shadow: 0px 0px 8px black
}

/*КНОПКА ПЕРЕКЛЮЧАТЕЛЬ*/

.search-form__check {
    display: none;
}

.search-form__check-label {
    display: block;
    position: relative;
    cursor: pointer;
    width: 36px;
    height: 20px;
    border-radius: 20px;
    background-color: #EBEBEB;
    transition: all 0.3s ease-in-out;
}

.search-form__check-label:hover {
    opacity: 0.9;
    box-shadow: 0 0 7px black;
    cursor: pointer;
}

.search-form__check-switch {
    position: absolute;
    top: 0;
    left: 0;
    margin: 6px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #FFFFFF;
    transition: all 0.6s;
}

.search-form__check:checked~.search-form__check-label {
    background-color: #3DDC84;
}

.search-form__check:checked~.search-form__check-label .search-form__check-switch {
    left: 16px;
}

/*--------------КНОПКА ПЕРЕКЛЮЧАТЕЛЬ*/

.search-form__check-title {
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.50;
}

@media (max-width: 320px) {
    .search-form__check-title {
        font-size: 11px;
        line-height: 1.64;
    }
}